.todo__item{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border: 1px solid #333;
    padding: 15px;
}

.todo__left,.todo__right{
    display:flex;
    align-items:center;
}

.btn-list{
    margin: 0 10px;
    width: 100px;
}

.todo__left input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.wrap{
    border:2px solid #333;
    margin-bottom: 20px;
}

.wrap__form{
    position: relative;
    height:0;
    overflow: hidden;
    transition:0.5s;
    overflow-y: auto;
    
}

.wrap__form.active{
    height:100%;
    padding:20px;
}

@media (max-width: 555px){
    .todo__name{
        font-size:1rem;
    }

    
    .btn-list{
        width: 70px;
        padding: 5px;
    }

    .todo__item{
        padding:5px;
    }
  }
  
  @media (max-width: 398px){
    .todo__name{
        font-size:0.7rem;
    }

    
    .btn-list{
        width: 60px;
    }

    .todo__left input{
        margin-right: 5px;
        width: 10px;
        height: 10px;
    }
  }